.Jumbotron{
    color: #edf4ff;
    text-align: center;
    background-color: #494d54;
    


}
.table-hover{
   width:70%;
   margin-left:15%;
   margin-right:15%
    


}

.btn{
    background-color: #b9d3e8;
    text-align: center;
    color: black;
}